n8n/primerka-web-payments.importable.json
{
  "name": "Primerka Web Payments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-payments/create",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://app.primerkakoles.ru,http://localhost:5173"
        }
      },
      "id": "076a9cee-a221-41ab-8ac8-941696b96207",
      "name": "Create Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        -160
      ],
      "webhookId": "8915cad9-9eec-4af7-bd4f-b119160612bc"
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  SUPABASE_URL: 'https://tzkvbtozhsrlmcpbrstp.supabase.co',\n  SUPABASE_SERVICE_ROLE_KEY: 'ВСТАВЬ_SUPABASE_SERVICE_ROLE_KEY',\n  YOOKASSA_SHOP_ID: '1299347',\n  YOOKASSA_SECRET_KEY: 'ВСТАВЬ_СЕКРЕТНЫЙ_КЛЮЧ_ЮKASSA',\n  RETURN_URL: 'https://app.primerkakoles.ru/cabinet?payment=return',\n};\n\nconst packages = {\n  pack_1: { generations: 1, amountRub: 60, title: '1 примерка' },\n  pack_5: { generations: 5, amountRub: 199, title: '5 примерок' },\n  pack_10: { generations: 10, amountRub: 349, title: '10 примерок' },\n};\n\nfunction jsonResponse(body, statusCode = 200) {\n  return [{ json: { statusCode, ...body } }];\n}\n\nfunction hasPlaceholder(value) {\n  return !value || String(value).includes('ВСТАВЬ_');\n}\n\nif (hasPlaceholder(CONFIG.SUPABASE_SERVICE_ROLE_KEY) || hasPlaceholder(CONFIG.YOOKASSA_SECRET_KEY)) {\n  return jsonResponse({ error: 'n8n workflow is not configured: replace secret placeholders in Create YooKassa Payment node' }, 500);\n}\n\nconst req = $input.first().json;\nconst headers = req.headers || {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst token = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nif (!token) return jsonResponse({ error: 'Unauthorized' }, 401);\n\nconst body = req.body || {};\nconst packageCode = body.package_code;\nconst pack = packages[packageCode];\nif (!pack) return jsonResponse({ error: 'Unknown package_code' }, 400);\n\nlet user;\ntry {\n  user = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${CONFIG.SUPABASE_URL}/auth/v1/user`,\n    headers: {\n      apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${token}`,\n    },\n    json: true,\n  });\n} catch (error) {\n  return jsonResponse({ error: 'Unauthorized' }, 401);\n}\n\nconst users = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${CONFIG.SUPABASE_URL}/rest/v1/users?auth_user_id=eq.${user.id}&select=id,auth_user_id,email&limit=1`,\n  headers: {\n    apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n  },\n  json: true,\n});\n\nconst profile = Array.isArray(users) ? users[0] : null;\nif (!profile) return jsonResponse({ error: 'Profile not found' }, 404);\n\nconst orderRows = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders`,\n  headers: {\n    apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Content-Type': 'application/json',\n    Prefer: 'return=representation',\n  },\n  body: {\n    auth_user_id: user.id,\n    user_id: profile.id,\n    package_code: packageCode,\n    generations_count: pack.generations,\n    amount_rub: pack.amountRub,\n    currency: 'RUB',\n    status: 'pending',\n  },\n  json: true,\n});\n\nconst order = Array.isArray(orderRows) ? orderRows[0] : orderRows;\nif (!order?.id) return jsonResponse({ error: 'Order was not created' }, 500);\n\nconst idempotenceKey = `web-order-${order.id}`;\nconst authBasic = Buffer.from(`${CONFIG.YOOKASSA_SHOP_ID}:${CONFIG.YOOKASSA_SECRET_KEY}`).toString('base64');\nconst amount = pack.amountRub.toFixed(2);\n\nlet payment;\ntry {\n  payment = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.yookassa.ru/v3/payments',\n    headers: {\n      Authorization: `Basic ${authBasic}`,\n      'Idempotence-Key': idempotenceKey,\n      'Content-Type': 'application/json',\n    },\n    body: {\n      amount: { value: amount, currency: 'RUB' },\n      capture: true,\n      confirmation: { type: 'redirect', return_url: CONFIG.RETURN_URL },\n      description: `Примерка Колёс: ${pack.title}`,\n      metadata: { order_id: order.id, package_code: packageCode, auth_user_id: user.id },\n      receipt: {\n        customer: { email: user.email || profile.email },\n        items: [\n          {\n            description: `Пакет генераций: ${pack.title}`,\n            quantity: 1,\n            amount: { value: amount, currency: 'RUB' },\n            vat_code: 1,\n            payment_mode: 'full_payment',\n            payment_subject: 'service',\n          },\n        ],\n        tax_system_code: 2,\n      },\n    },\n    json: true,\n  });\n} catch (error) {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?id=eq.${order.id}`,\n    headers: {\n      apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n      'Content-Type': 'application/json',\n    },\n    body: { status: 'failed' },\n    json: true,\n  });\n  return jsonResponse({ error: 'YooKassa payment creation failed' }, 502);\n}\n\nconst confirmationUrl = payment.confirmation?.confirmation_url;\nif (!payment.id || !confirmationUrl) return jsonResponse({ error: 'YooKassa did not return confirmation_url' }, 502);\n\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?id=eq.${order.id}`,\n  headers: {\n    apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Content-Type': 'application/json',\n  },\n  body: {\n    yookassa_payment_id: payment.id,\n    confirmation_url: confirmationUrl,\n  },\n  json: true,\n});\n\nreturn jsonResponse({ order_id: order.id, confirmation_url: confirmationUrl }, 200);"
      },
      "id": "76ba8886-c183-449d-aec1-4805559fd79c",
      "name": "Create YooKassa Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $json.statusCode }}",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "f4a0f382-03da-4a6c-aa83-cce42a190cb2",
      "name": "Respond Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        -160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-payments/yookassa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "70e73e7c-fc2a-4efa-827d-e6142416342a",
      "name": "YooKassa Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        144
      ],
      "webhookId": "d6897ed8-fa25-484c-b7ca-e0314a2dc45a"
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = {\n  SUPABASE_URL: 'https://tzkvbtozhsrlmcpbrstp.supabase.co',\n  SUPABASE_SERVICE_ROLE_KEY: 'ВСТАВЬ_SUPABASE_SERVICE_ROLE_KEY',\n};\n\nfunction jsonResponse(body = { ok: true }, statusCode = 200) {\n  return [{ json: { statusCode, ...body } }];\n}\n\nfunction hasPlaceholder(value) {\n  return !value || String(value).includes('ВСТАВЬ_');\n}\n\nif (hasPlaceholder(CONFIG.SUPABASE_SERVICE_ROLE_KEY)) {\n  return jsonResponse({ error: 'n8n workflow is not configured: replace Supabase placeholder in Process YooKassa Webhook node' }, 500);\n}\n\nconst req = $input.first().json;\nconst event = req.body?.event;\nconst payment = req.body?.object;\nif (!payment?.id) return jsonResponse();\n\nconst orderId = payment.metadata?.order_id;\nlet query = `yookassa_payment_id=eq.${payment.id}`;\nif (orderId) query = `or=(yookassa_payment_id.eq.${payment.id},id.eq.${orderId})`;\n\nconst orders = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?${query}&select=*`,\n  headers: {\n    apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n    Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n  },\n  json: true,\n});\n\nconst order = Array.isArray(orders) ? orders[0] : null;\nif (!order) return jsonResponse({ ok: true, skipped: 'order_not_found' });\n\nif (event === 'payment.succeeded') {\n  const paidAmount = Number(payment.amount?.value || 0);\n  const expectedAmount = Number(order.amount_rub || 0);\n  if (payment.amount?.currency !== 'RUB' || paidAmount !== expectedAmount) {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?id=eq.${order.id}`,\n      headers: {\n        apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n        Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n        'Content-Type': 'application/json',\n      },\n      body: { status: 'failed' },\n      json: true,\n    });\n    return jsonResponse({ ok: true, skipped: 'amount_mismatch' });\n  }\n\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?id=eq.${order.id}`,\n    headers: {\n      apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n      'Content-Type': 'application/json',\n    },\n    body: { status: 'succeeded', yookassa_payment_id: payment.id },\n    json: true,\n  });\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${CONFIG.SUPABASE_URL}/rest/v1/rpc/credit_generation_order`,\n    headers: {\n      apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n      'Content-Type': 'application/json',\n    },\n    body: { p_order_id: order.id },\n    json: true,\n  });\n\n  return jsonResponse({ ok: true, status: 'credited' });\n}\n\nif (event === 'payment.canceled') {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${CONFIG.SUPABASE_URL}/rest/v1/generation_orders?id=eq.${order.id}&credited_at=is.null`,\n    headers: {\n      apikey: CONFIG.SUPABASE_SERVICE_ROLE_KEY,\n      Authorization: `Bearer ${CONFIG.SUPABASE_SERVICE_ROLE_KEY}`,\n      'Content-Type': 'application/json',\n    },\n    body: { status: 'canceled', yookassa_payment_id: payment.id },\n    json: true,\n  });\n}\n\nreturn jsonResponse();"
      },
      "id": "4b0dc789-538b-4187-9df8-2c8e1fa2ad18",
      "name": "Process YooKassa Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $json.statusCode }}",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "2c873740-9b37-4b89-a796-fc06ae421d86",
      "name": "Respond YooKassa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        144
      ]
    }
  ],
  "connections": {
    "Create Payment Webhook": {
      "main": [
        [
          {
            "node": "Create YooKassa Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create YooKassa Payment": {
      "main": [
        [
          {
            "node": "Respond Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YooKassa Webhook": {
      "main": [
        [
          {
            "node": "Process YooKassa Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process YooKassa Webhook": {
      "main": [
        [
          {
            "node": "Respond YooKassa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
